body {
    font-family: Arial;
    font-size: 11px;
    color: #ffffff;
    background: #202020 url(https://preview.redd.it/eu3a6w1f8ir51.jpg?auto=webp&s=c1ec654b47fcb5f75144ff6fe64f82d7604ce797) no-repeat top center fixed;
    background-size: cover;
    text-align:justify;
    text-align: center;
    padding: 200px;
}

#icons {
    position: absolute;
    bottom: 22%;
    right: 8%;
    width: 400px;
    height: 80px;
    z-index: 8;
    transform: rotate(-57deg); 
    -ms-transform: rotate(-57deg); 
    -webkit-transform: rotate(-57deg); 
    -moz-transform: rotate(-57deg);
}

#contact { 
    float: left; 
    cursor: pointer; 
}


img { 
    max-width: 100%; 
    height: auto; 
}

a{
    font-size: 50px;
    justify-content: center;
    color: white;
    
}