body {
    font-family: Arial;
    font-size: 11px;
    color: #ffffff;
    background: #202020 url(https://i1.sndcdn.com/artworks-000048622882-92hn84-t500x500.jpg) no-repeat top center fixed;
    background-size: cover;
    text-align:justify;
    text-align: center;
    padding: 50px;
    background-size: 1000px;
    justify-content: center;
    font-size: 50px;
}

#icons {
    position: absolute;
    bottom: 22%;
    right: 8%;
    width: 400px;
    height: 80px;
    z-index: 8;
    transform: rotate(-57deg); 
    -ms-transform: rotate(-57deg); 
    -webkit-transform: rotate(-57deg); 
    -moz-transform: rotate(-57deg);
}

#contact { 
    float: left; 
    cursor: pointer; 
}


img { 
    max-width: 100%; 
    height: auto; 
}

ol{
    text-align: justify;
    text-align: center;
}

a{
    text-decoration: none;
}